:root {
  /** Colors */
  --primary-moderate-blue: hsl(238, 40%, 52%);
  --primary-soft-red: hsl(358, 79%, 66%);
  --primary-light-grayish-blue: hsl(239, 57%, 85%);
  --primary-pale-red: hsl(357, 100%, 86%);

  --neutral-dark-blue: hsl(212, 24%, 26%);
  --neutral-grayish-blue: hsl(211, 10%, 45%);
  --neutral-light-gray: hsl(223, 19%, 93%);
  --neutral-very-light-gray: hsl(228, 33%, 97%);
  --neutral-white: hsl(0, 0%, 100%);

  /** Font */
  --font-size-p: 1rem;
  --font-family: "Rubik";
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
  background: var(--neutral-very-light-gray);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
